{{> header }}


<div class="container-fluid reg-sign-section pt-5">

<div class="error"> 
    <h2> It seems this Mail Id /Phone no already exist <br>
    Please enter the details correctly </h2>

 <a href="/register">
        <button type="button" class="btn btn-danger">
            Try again
        </button>
    </a>
</div>

</div>

{{> footer }}