{{!-- {{>header}}

<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>STARTER</h3>
        <p> <strong>Course module</strong> </p>
    </div>
    <div class="row">
      <div class="col-lg-6 d-flex align-items-stretch">
        <div class="info">
          <p>Google Ads Basic </p>
          <p>Google Analytics Basic</p>
          <p>Basic Affiliate Marketing </p>
          <p>Social Media Content Creation </p>
          <p>How to create YouTube video </p>
        </div>
      </div>
      <div class="col-lg-6 d-flex align-items-stretch">
        <div class="info">
          <p>YouTube channel SEO</p>
          <p>Email Marketing </p>
          <p>Facebook group Domination</p>
          <p>Master in AI tool (ChatGPT & )</p>
          <p>How to use AI tool for Google</p>
        </div>

      </div>
    </div>

  </div>
</section><!-- End Contact Section -->

{{>footer}}
 --}}

{{!-----new------}}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
   <link href="css/style.css" rel="stylesheet">
</head>
<body>
  <div id="starter">
  <ul>
    <li>lorem</li>
    <li>lorem</li>
    <li>lorem</li>
    <li>lorem</li>
    <li>lorem</li>
  </ul>
</div>
</body>
</html>

