{{>header}}

<!-- ======= coursemodule Section basic starts======= -->
<section id="basic" class="coursemodule">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Starter</h2>
    </div>
    <div class="row">
      <div class="col-lg-12" data-aos="fade-up" data-aos-delay="100">
        <div class="box">

          <div class="row">
            <div class="col-lg-4">
              <ul>
                <p>Google Ads Basic </p>
                <p>Google Analytics Basic</p>
                <p>Basic Affiliate Marketing </p>
                <p>Social Media Content Creation </p>

              </ul>
            </div>
            <div class="col-lg-4">
              <ul>
                <p>Google Ads Basic </p>
                <p>Google Analytics Basic</p>
                <p>Basic Affiliate Marketing </p>
                <p>Social Media Content Creation </p>
                <p>How to create YouTube video </p>
              </ul>
            </div>
            <div class="col-lg-4">
              <ul>
                <p>Google Ads Basic </p>
                <p>Google Analytics Basic</p>
                <p>Basic Affiliate Marketing </p>
                <p>Social Media Content Creation </p>

              </ul>
            </div>
          </div>
          <a href="/starter" class="buy2-btn">Get Started</a>
        </div>
      </div>
    </div>
</section>

<!-- ======= coursemodule Section advance ends======= -->

<!-- ======= coursemodule Section basic starts======= -->
<section id="advance" class="coursemodule">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Advance</h2>
    </div>
    <div class="row">
      <div class="col-lg-12" data-aos="fade-up" data-aos-delay="100">
        <div class="box">

          <div class="row">
            <div class="col-lg-4">
              <ul>

                <p>Google Ads Basic + Advance </p>
                <p>Google Analytics </p>
                <p>Advance Affiliate Marketing </p>
                <p>Google Merchant Content </p>
                <p>Google -- -- </p>


              </ul>
            </div>
            <div class="col-lg-4">
              <ul>
                <p>Social Media Content Creation</p>
                <p>How to use Canva</p>
                <p>How to create YouTube video</p>
                <p>YouTube channel SEO</p>
                <p>Facebook Group Domination</p>
              </ul>
            </div>
            <div class="col-lg-4">
              <ul>

                <p>YouTube quick shorts</p>
                <p>FB messenger chatbot</p>
                <p>Master in AI tool (ChatGPT & Google bind)</p>
                <p>How to use AI tool in an advance way</p>

              </ul>
            </div>
          </div>
          <a href="/advance" class="buy2-btn">Get Started</a>
        </div>
      </div>
    </div>
</section>

<!-- ======= coursemodule Section advance ends======= -->
<!-- ======= coursemodule Section premium starts======= -->
<section id="premium" class="coursemodule">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Premium</h2>
    </div>
    <div class="row">
      <div class="col-lg-12" data-aos="fade-up" data-aos-delay="100">
        <div class="box">

          <div class="row">
            <div class="col-lg-4">
              <ul>
                <p>Advance Affiliate Marketing </p>
                <p>Google Marchant Center</p>
                <p>YouTube channel SEO</p>
                <p>How to use AI tool in an advance way</p>
                <p>Google Merchant Content </p>
                <p>Master in AI tool (ChatGPT & Google bind)</p>
                <p>Google Ads Basic + Advance </p>
                <p>Google -- -- </p>
                <p>Social Media Content Creation</p>
                <p>How to use Canva</p>
                <p>How to create YouTube video</p>
                <p>Email Marketing (with MailChimp)</p>

              </ul>
            </div>
            <div class="col-lg-4">
              <ul>

                <p>Facebook Group Domination</p>
                <p>YouTube quick shorts</p>
                <p>FB messenger chatbot</p>
                <p>Master in AI tool (ChatGPT & Google bind)</p>
                <p>Premium</p>
                <p> Google Ads Basic + Advance</p>
                <p>Google Analytics</p>
                <p>Google Tag Manager</p>
                <p>Affiliate Marketing with Check Band</p>
                <p>Affiliate Marketing with E-commerce</p>
                <p>Affiliate Marketing with Domain & Hosting Provider</p>
                <p> Social Media Ads</p>
              </ul>
            </div>
            <div class="col-lg-4">
              <ul>

                <p>Know more about FB pixel</p>
                <p>Organic Social Media Marketing</p>
                <p>Social Media Content Creation</p>
                <p>How to use Canva</p>
                <p>How to Create YouTube Video</p>
                <p>You Tube channel SEO</p>
                <p>Email Marketing (with MailChimp)</p>
                <p>Facebook Group Domination</p>
                <p> YouTube quick shorts</p>
                <p> FB messenger chatbot</p>
                <p>Master in AI tool (ChatGPT & Google bind)</p>
                <p>How to use AI tool in an advance way</p>

              </ul>
            </div>
          </div>
          <a href="/premium" class="buy2-btn">Get Started</a>
        </div>
      </div>
    </div>
</section>

<!-- ======= coursemodule Section premium ends======= -->
{{>footer}}