{{>header}}<!-- End Header -->

  <!-- ======= Hero Section ======= -->


  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Privacy Policy</h2>
        <p>This Website is committed to protecting and respecting your privacy.</p>
      </div>

      <div class="row">

        <div class="col-lg-12 d-flex align-items-stretch">
          <div class="info">
          <strong> <p>
              At DigiUdan, accessible from https://digiudan.com, one of our mail priorities is the privacy of our
              visitor. This Privacy Policy documents contains types of information that are collected and recorded by
              digiudan.com and how we use it.
              If you have additional questions or require more information about our Privacy Policy, do not hesitate to
              contact us.
              This policy is not applicable to any information collected offline or via channels other than this
              website.
            </p></strong>
            
            <h4>Consent</h4>
            <p>By using our website, you hereby consent to our Privacy Policy and agree to its terms.</p>
            <hr>
            <h4>Information we collect</h4> <br>
            <strong>
              <p>We may collect and process the following information about you:</p>
            </strong>
            <p>Information that you provide by filling in forms on our site. <br>
            Information provided at the time of registering as a user on our website subscribing to our services or
              requesting further assistance  <br>
           Information you provide when reporting an issue with our website  <br>
            When you contact us, a record of that correspondence</p>


            <hr>
            <h4>Log Files</h4> <br>
            <p>Digiudan.com follows a standard procedure of using log files. These files log visitors when they visit
              websites. All hosting companies do this and a part of hosting services’ analytics. The information
              collected by log files includes internet protocol (IP) addresses, browser type, Internet Service Provider
              (ISP), date and time stamp, referring/exit pages, and possibly the number of clicks. These are not linked
              to any information that is personally identifiable. The purpose of the information is for analyzing
              trends, administering the site, tracking users’ movement on the website, and gathering demographic
              information.</p>
            <hr>
            <h4>Cookies and Web Beacons</h4>  <br>
            <p>Like any other website,digiudan.com uses ‘cookies’. These cookies are used to store information including
              visitors’ preferences, and the pages on the website that the visitor accessed or visited. The information
              is used to optimize the users’ experience by customizing our web page content based on visitors’ browser
              type and/or other information.</p>
            <hr>
            <h4>Children’s Information</h4>  <br>
            <p>Another part of our priority is adding protection for children while using the internet. We encourage
              parents and guardians to observe, participate in, and/or monitor and guide their online activity</p>
          
            <p>Digiudan.com does not knowingly collect any Personal Identifiable Information from children under the age
              of 13. If you think that your child provided this kind of information on our website, we strongly
              encourage you to contact us immediately and we will do our best efforts to promptly remove such
              information from our records.</p>
            <hr>
            <h4>WHERE WE STORE YOUR PERSONAL DATA</h4>  <br>
            <p>All information you provide to us is stored on our secure servers. Any payment transactions will be
              encrypted. Where we have given you (or where you have chosen) a password which enables you to access
              certain parts of our site, you are responsible for keeping this password confidential. We ask you not to
              share the password with anyone.</p>
            <hr>
            <h4>YOUR RIGHTS</h4>  <br>
            <p>You have the right to ask us not to process your personal data for marketing purposes. We will usually
              inform you (before collecting your data) if we intend to use your data for such purposes or if we intend
              to disclose your information to any third party for such purposes. You can exercise your right to prevent
              such processing by checking certain boxes on the forms we use to collect your data. You can also exercise
              the right at any time by contacting us via email. Our website may, from time to time, contain links to and
              from the websites of our partner networks, advertisers, and affiliates. If you follow a link to any of
              these websites, please note that these websites have their own privacy policies and that we do not accept
              any responsibility or liability for these policies. Please check these policies before you submit any
              personal data to these websites.</p>
            <hr>
            <h4>CHANGES TO OUR PRIVACY POLICY</h4>  <br>
            <p>Any changes we may make to our privacy policy in the future will be posted on this page and, when
              appropriate, notified to you by e-mail. However, we advise that you check this page regularly to keep up
              to date with any changes.</p>
          </div>

        </div>




      </div>

    </div>
  </section><!-- End Contact Section -->

   {{>footer}}