{{> header }}
<div class="container-fluid reg-sign-section ">
  <div class="container reg-sign-box" data-aos="zoom-in-right" data-aos-duration="1000">

    <h2>Sign-in or create an acount</h2>
    <h5>Already have an acount ? <a href="/login">Log in</a></h5>
    <div class="row ">
      <div class="col-sm">
        <div class="card">
          <div class="card-body">

            <!-- Makes POST request to /register route -->
            <form action="/update" method="POST">
            
              <div class="form-group">
                <label for="email">Enter your existing Email</label>
                <input type="email" class="form-control" name="username" placeholder="abc@email.com" required>
              </div>
              {{!-- fname --}}
              <div class="form-group">
                <label for="firstname">Update Your Name</label>
                <input type="text" class="form-control" name="name" placeholder="Aditya-Paul" required>
              </div>
              <!-- phnumber -->
              <div class="form-group">
                <label for="phone">Update Your Image</label>
                <input type="file" class="form-control" name="image"  enctype = "multipart/form-data" required>
              </div>
            
              <button type="submit" class="btn btn-primary btn-lg btn-block">Update &nearr;</button>

            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  {{> footer }}